@model DaySpring.ViewModels.CreateProductRequestModel

@{
    Layout = "~/Views/Shared/_MediaLayout.cshtml";
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row justify-content-center">
        <div class=" card col-md-6">
            <div class="card-body ">
                <div class="bg-light">
                    <h1 class="tagcolor" style="color:mediumblue">Add Product</h1>
                    @*<p class="tagcolor" style="color:mediumblue">Please fill in this form to add a book.</p>*@
                    <hr class="tagcolor" style="color:mediumblue">

                </div>
                <form asp-action="Add" enctype="multipart/form-data">
                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <p class="alert alert-warning alert-dismissible" role="alert">@ViewBag.Message</p>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-sm-6">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-6">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label class="control-label"><strong>Select Image</strong></label>
                            <input name="image" type="file" class="form-control" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6" style="margin-top: 20px; font-size: larger; font-weight: bold; color: darkcyan">
                            <label asp-for="ProductColors" class="control-label"></label>
                            <select asp-for="ProductColors" class="form-control" asp-items="ViewBag.ProductColors" required multiple>
                                <option value="">--Select Colors--</option>
                            </select>
                        </div>
                        <div class="col-md-6" style="margin-top: 20px; font-size: larger; font-weight: bold; color: darkcyan">
                            <label asp-for="ProductSizes" class="control-label"></label>
                            <select asp-for="ProductSizes" class="form-control" asp-items="ViewBag.ProductSizes" required multiple>
                                <option value="">--Select Sizes--</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group ">
                        <input asp-action="Create" type="submit" value="Submit" class="btn btn-success trigger-btn col-sm-12" data-toggle="modal" />
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

