@model DaySpring.ViewModels.CreateCategoryRequestModel

@{
    Layout = "~/Views/Shared/_MediaLayout.cshtml";
    ViewData["Title"] = "Create";
}

<div class="row row-content d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <h3 class="card-header bg-black text-center"><strong>Add Category</strong></h3>
            <div class="card-body">
                <form method="POST">
                    <div>
                        <label asp-for="Name" class="control-label"><strong>Name</strong></label>
                        <input asp-for="Name" type="text" class="form-control" required/>
                    </div>
                    <br />
                    <button class="btn btn-primary" style="background-color: whitesmoke;"><a asp-action="Create">Add Category</a></button>

                </form>
            </div>
        </div>
    </div>
</div>

